[Desktop Entry]
Type=Application
Name=Waybar
Comment=Wayland status bar (Catppuccin Mocha)
Exec=/usr/bin/waybar
Icon=waybar
Terminal=false
Categories=System;Utility;
X-KDE-autostart-phase=2
X-KDE-StartupNotify=false
