LABEL galibos
TEXT HELP
Boot the Galib OS install medium on BIOS.
It allows you to install Galib OS or perform system maintenance.
ENDTEXT
MENU LABEL Galib OS (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%

# Accessibility boot option
LABEL galibosspeech
TEXT HELP
Boot the Galib OS install medium on BIOS with speakup screen reader.
It allows you to install Galib OS or perform system maintenance with speech feedback.
ENDTEXT
MENU LABEL Galib OS (%ARCH%, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% accessibility=on
